# Misc
#matplotlib
scipy
numpy
pandas=0.20.3
sklearn
networkx

# Vizualization
bokeh==0.12.1
ggplot
seaborn

# Analysis lib
git+git://github.com/HumanDynamics/openbadge-analysis.git

# If you are still editing the library, you can point pip to your local copy, for example:
# pip install -e /home/orenled/Dropbox/code/openbadge-analysis --upgrade
